@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;200;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
  scroll-behavior: smooth;
}
.main {
  /* margin-top: 100px; */
  background: url("assets/images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1350px, 100vw);
  height: 780px;
  position: relative;
}
.main .box {
  position: absolute;
  top: 0;
  height: 780px;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.915) 0,
    rgba(0, 0, 0, 0.429) 60%,
    rgba(0, 0, 0, 0.81) 100%
  );
}
/* navbar styling */
nav {
  display: flex;
  position: inherit;
  top: 2vh;
  justify-content: space-between;
  align-items: center;
  max-width: 85vw;
  margin: 0 116px;
  height: 62px;
}
nav img {
  color: rgb(229, 9, 20);
  position: relative;
  z-index: 1;
  width: 165px;
  height: 3rem;
}
@media screen and (max-width: 1400px) {
  .main {
    height: 80vh;
    /* width: fit-content; */
  }
  .main .box {
    height: 80vh;
  }
  nav {
    max-width: 100vw;
    margin: 0 40px;
  }
  nav img {
    width: 80px;
  }
  .cont-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nav-div {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    min-width: 50px !important;
    padding: 9px 13px !important;
    font-size: 12px !important;
  }
  .main input,
  .last-input input {
    width: 60vw !important;
  }
  .sect {
    flex-wrap: wrap;
    text-align: center;
    min-height: 100vh !important;
  }
  .faq {
    min-height: 1150px !important;
  }
  /* .faq-text{
    font-size: 6vw !important;
  } */
}
@media screen and (max-width: 1000px) {
  .sect > div :nth-child(1) {
    font-size: 33px !important;
    /* margin: 50px 0px; */
  }
  .sect > div :nth-child(2){
    font-size: 16px !important;
    margin-bottom: 50px;
  }
  .text-cont > :nth-child(1){
    font-size: 25px !important;
    /* max-width: 95vw !important; */
  }
  .text-cont > :nth-child(2){
    font-size: 20px !important;
    /* max-width: 90vw !important; */
  }
  .last-h3,
  .text-cont > :nth-child(3) {
    font-size: 15px !important;
    /* max-width: 90vw !important; */
  }   
  .faq{
    /* min-height: 850px !important; */
  } 
  .last-input-text {
    max-width: 90% !important;
  }
}

@media screen and (max-width:950px){
  .foot-div{
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap:25px;
    margin-bottom: 50px;
    height: 70vh;
  }
  .checkbox li label,.checkbox .content{
    font-size: 20px !important;
  }
  .faq-text{
    width: 90%;
    margin: auto;
    font-size: 30px !important;
  }
  
}
@media screen and (max-width: 700px) {
  /* .faq{
    min-height: 800px !important;
  }  */
  .first-sect-img img,.third-sec img {
    width: 80vw !important;
  }
  .first-sect-img video{
    top: 19% !important;
    left: 14% !important;
    width: 75% !important;
  }
  .third-sec img{
    width: 80vw !important;
  }
  .third-sec video{
    width: 60% !important;
    top: 10% !important;
    left: 20% !important;
  }
}
@media screen and (max-width: 400px) {
  .faq{
    min-height: 1000px !important;
  } 
}

nav button {
  position: relative;
  z-index: 10;
}
/* text content styling  */
.text-cont {
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white; 
  position: relative;
  gap: 23px;
  padding: 0 30px;
}
.text-cont > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  max-width: 70vw;
  font-size: 50px;
  text-align: center;
}
.text-cont > :nth-child(2) {
  /* margin-bottom: 7px; */
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}
.last-h3,
.text-cont > :nth-child(3) {
  font-weight: 300;
  font-size: 22px;
  text-align: center;
}
/* separation */
.separation {
  height: 0.5rem;
  background-color: rgb(35, 35, 35);
}
/* buttons styling */
.btn {
  margin-right: 10px;
  padding: 10px 30px;
  font-size: 1rem;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(233, 233, 233, 0);
}
.btn-red-sm {
  background-color: rgb(229, 9, 20);
  color: white;
  border: none;
  border-radius: 4px;
  /* font-size: 20px; */
}
.btn-red {
  background-color: rgb(229, 9, 20);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  padding: 14px 40px;
}
.btn-red:hover,.btn-red-sm:hover{
  background-color: rgb(198, 10, 20);
  cursor: pointer;
}

/* input styling */
.main input,
.last-input input {
  border-radius: 4px;
  font-size: 20px;
  padding: 14px 30px 14px 15px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(135, 135, 135, 0.7);
  width: 370px;
  color: white;
}
.main input[type="text"],
.last-input input[type="text"] {
  color: white;
}
.main input::placeholder,
.last-input input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(205, 205, 205);
}

/* for input gap between get started button */
.cont-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* first section styling */
.sect {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 74vw;
  margin: auto;
  min-height: 80vh;
  color: white;
  font-size: 1.5rem;
}
.first-sect-img,
.third-sec {
  position: relative;
}
.first-sect-img img {
  width: 555px;
  /* bottom: 10px; */
  /* right: 111px; */
  position: relative;
  z-index: 10;
  /* float: left; */
}
.first-sect-img video {
  position: absolute;
  top: 85px;
  left: 75px;
  width: 455px;
}
.sect > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sect > div :nth-child(1) {
  font-size: 45px;
  font-weight: 900;
}
.sect > div :nth-child(2) {
  font-size: 24px;
}
/* styling for third section */
.third-sec img {
  width: 555px;
  position: relative;
  z-index: 10;
}
.third-sec video {
  position: absolute;
  width: 345px;
  top: 55px;
  left: 108px;
}

/* faq section */
.faq {
  min-height: 1000px;
  color: white;
}
.faq-text {
  text-align: center;
  margin-top: 56px;
  font-size: 45px;
  font-weight: 900;
}
.checkbox li label:hover {
  background-color: rgb(69, 69, 69);
  transition: 0.2s all ease-out;
}
.checkbox{
  margin: 10px auto;
  width: 100%;
  max-width: 75%;
}
.checkbox li{
  list-style: none;
  width: 100%;
  padding: 5px;
}
.checkbox li label{
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 25px;
  font-weight: 500;
  background: #303030;
  margin-bottom:1px;
  cursor: pointer;
  position: relative;
}
label::after{
  content: "+";
  font-size: 40px;
  font-weight: 100;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}
input[type="radio"]{
  display: none;
}
.checkbox .content{
  background-color: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s , padding 0.5s;
}
.checkbox input[type="radio"]:checked + label +.content{
  max-height: 600px;
  padding: 30px 20px;
  margin-top: 2px;
  font-size: 24px;
}
.checkbox input[type="radio"]:checked + label::after{
  transform: rotate(135deg);
}

/* last input styling */
.last-input {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.last-input-text {
  margin: 10px auto;
  width: 100%;
}

/* footer */
footer {
  color: rgb(176, 176, 176);
  max-width: 80vw;
  margin: auto;
  height: 50vh;
}
.foot-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* margin: auto; */
}
.foot-a {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.foot a {
  color: rgb(176, 176, 176);
  font-size: 1rem;
  font-weight: lighter;
}
.foot .foot-ques {
  margin-top: 5%;
  padding: 34px 0;
  font-size: 1.2rem;
}
.foot-ques a {
  font-size: inherit;
  cursor: pointer;
}
/* js css */
#faq-cont{
 height: 100px;
 width: 100px;
 background-color: wheat;
 position: relative;
}
.hide{
  display: none;
}